body {
  padding: 0px;
  color: #FFFFFF;
  background: #222838;
  margin: 0px;
  width: 800px;
  height: 480;
}

div.bigTime {
  font: 230px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  text-align: center;
}

table.weatherTable {
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  display: table;
  width: 100%;
  height: 60px;
  text-align: right;
}

td.weatherData {
  width: 100%;
  text-align: right;
  vertical-align: middle;
}

a.weatherData {
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  display: block;
  text-align: right;
  text-decoration: none;
  vertical-align: middle;
  padding-right: 20px;
}

td.smallDate {
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  width: 35%;
  height: 50px;
  text-align: left;
  padding-left: 20px;
}

td.smallTime {
  padding-right: 20px;
}

a.smallTime {
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  width: 100%;
  display: table;
  text-align: right;
  text-decoration: none;
  padding-right: 20px;
}

table.forecastTable {
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 30px;
  padding-bottom: 60px;
  color: #FFFFFF;
  display: table;
  width: 100%;
  text-align: center;
  height: 220px;
}

div.nearTermForecast {
  font: 32px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 0px;
  color: #FFFFFF;
  display: block;
  height: 150px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}